*{
    margin: 0;
    font-family: 'inter';
}
#top{
    background-color: #303030;
    color: #fff;
    height: 475px;
}
#top h1{
    padding-top: 200px;
    margin-left: 10px;
}
#top p{
    margin-left: 10px;
}
#infoadicional{
    background-color: #F9F9F9;
    height: 230px;
    display: grid;
    grid-auto-flow: column;
    columns: auto;
}
#infoadicional p{
    margin-top: 100px;
    margin-left: 80px;
}
#conteudo{
    display: grid;
    grid-auto-flow: column;
    columns: auto;
    margin-top: 50px;
}
#inforativo{
    width: 500px;
    margin-top: 190px;
    margin-left: 60px;
    text-align: justify;
}
#conteudo img{
    width: 450px;
    /* height: 605px; */
}
#contcontato{
    background-color: #303030;
    text-align: center;
    margin-top: 20px;
    color: #fff;
}
#contcontato h2{
    padding-top: 10px;
}
#contform{
    padding-top: 10px;
    padding-bottom: 10px;
}
#contform input{
    width: 350px;
    height: 30px;
    margin-top: 10px;
    text-align: center;
    font-size: 14px;
    font-family: 'Raleway';
    color: black;
    border: none;
    border-radius: 10px;
}
#contform button{
    width: 200px;
    height: 40px;
    margin-top: 10px;
    text-align: center;
    font-family: 'Raleway';
    font-size: 14px;
    background-color: #C07212;
    color: #ffff;
    border: none;
    border-radius: 10px;
}
#contform button:hover{
    cursor: pointer;
    background-color: hsl(32, 62%, 85%);
    color: #C07212;
}